/* -------------------------------------
 * General Style
 * ------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Average+Sans);
body {
  max-width: 1400px;
  min-width: 800px;
  margin: 0 auto 80px;
  padding: 0 5%;
  color: #eee9dc;
  font: 18px/1.5 "Average Sans", cursive;
  background: #FCF8EF;
}

a {
  color: inherit;
}
a:hover {
  color: #F48128;
}

/* -------------------------------------
 * Header
 * ------------------------------------- */
#header {
  padding-top: 80px;
  border: 2px solid #FCF8EF;
}
#header h1 {
  margin: 0 0 5px;
  color: #F48128;
  line-height: 60p;
  float: left;
}

#controller {
  line-height: 60px;
  float: right;
}

button {
  width: 120px;
  height: 35px;
  color: #eee9dc;
  font-size: 12px;
  line-height: 35px;
  background: #4CBFC3;
  border: 0;
  cursor: pointer;
}
button:hover {
  background: #F48128;
}

.selected {
  background: #F48128;
}

#source {
  padding-top: 10px;
  color: #777777;
  border-top: 3px solid #eee9dc;
  clear: left;
}

/* -------------------------------------
 * Container
 * ------------------------------------- */
h2 {
  margin: 80px 0 15px;
  padding: 8px 10px;
  color: #eee9dc;
  background: #F48128;
  border: 2px solid #FCF8EF;
}
h2:first-child {
  margin-top: 20px;
}

#note {
  color: #777777;
  border: 2px solid #FCF8EF;
}

table {
  width: 100%;
  color: #eee9dc;
}

tr {
  height: 60px;
}

.shortcut {
  width: 140px;
  font-size: 20px;
  text-align: center;
  background: #474747;
  transition: color 0.3s;
}
.shortcut .relative {
  display: block;
  position: relative;
}
.shortcut .relative:before {
  content: "?";
  color: #6d6d6d;
  font-size: 30px;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: color 0.3s;
}

.command {
  padding: 0 10px;
  background: #4CBFC3;
  transition: color 0.3s;
}
.command .relative {
  display: block;
  position: relative;
}
.command .relative:before {
  content: "? ? ?";
  color: #85d3d6;
  font-size: 30px;
  text-align: center;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: color 0.3s;
}

/*------- Hide Shortcut ------- */
.hide_shortcuts .shortcut {
  color: transparent;
}
.hide_shortcuts .shortcut:hover {
  color: #eee9dc;
}
.hide_shortcuts .shortcut:hover .relative:before {
  color: transparent;
}
.hide_shortcuts .command .relative:before {
  color: transparent;
}

/*------- Hide Command ------- */
.hide_commands .command {
  color: transparent;
}
.hide_commands .command:hover {
  color: #eee9dc;
}
.hide_commands .command:hover .relative:before {
  color: transparent;
}
.hide_commands .shortcut .relative:before {
  color: transparent;
}

/*------- Show All ------- */
.show_all .relative:before {
  color: transparent;
}

/* -------------------------------------
 * Two Columns
 * ------------------------------------- */
@media screen and (min-width: 1024px) {
  .wrap {
    column-count: 2;
    column-gap: 10px;
  }
}
@-moz-document url-prefix() {
  body {
    max-width: 1024px;
  }

  .wrap {
    column-count: 1 !important;
  }
}
  